body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #F0F8FF;
    color: #8B0000;
}
h1, h2 {
    font-family: Bebas Neue, serif;
    color: #FF4500;
}
a {
    color: #32CD32;
}
section {
    padding: 3rem;
}